<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="jaymicn is a self_website" />
    <meta name="keywords" content="html5,css,framework,sass,NES,8bit" />
    <meta name="author" content="© 2019 jaymi" />
    <link rel="shortcut icon" type="image/png" sizes="196x196" href="http://upyun.jaymi.cn/static/favicon.png">
    <link rel="apple-touch-icon" href="http://upyun.jaymi.cn/static/favicon.png">

    <title>Jaymicn</title>

    <link href="https://fonts.lug.ustc.edu.cn/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <link href="http://upyun.jaymi.cn/static/style.css" rel="stylesheet" />
    
<script>window.dataLayer=window.dataLayer||[];</script>

{%block head %}{% end %}
</head>

<body>
	<header>
	<h1><i class="snes-jp-logo brand"></i>Jaymi.cn</h1>
	<p>Tools for myself.</p>
	</header>

	<a class="github-link" href="https://github.com/aubucuo" target="_blank">
	  <p class="nes-balloon from-right">Fork me<br />on GitHub</p>
	  <i class="nes-octocat"></i>
	</a>

<div class="nes-container is-rounded">
    {% block body %}{% end %}
</div>
    

<footer class="footer">
	<p>2019 jaymi.cn</p>
</footer>
</body>
</html>